*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: Fixed (1,728px);
  height: Fixed (1,117px);
  /* gap: 40px; */
  text-decoration: none;
}
.user-login-model{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align:left;
}
.login-form{
  width: 230px;
}
.login-form h1{
  width: 250px;
  text-align: center;
}
.email-text{
  outline: 0;
  border: 0;
  border-bottom: 2px solid #121111;
  padding: 10px 0;
  background: transparent;
  transition: 0.3s ease;
  width: 230px;

}
.password-text{
  outline: 0;
  border: 0;
  border-bottom: 2px solid #121111;
  padding: 10px 0;
  background: transparent;
  transition: 0.3s ease;
  width: 230px;

}
.login-text{
  /* width: 56px;
  height: 19px; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.0024em;
  text-align: center;
  /* padding: 12px, 24px, 12px, 24px; */
  border-radius: 4px;
  /* gap: 10px; */
  width: 230px;
  height:40px;
  background-color: #000000;
  color: #FFFFFF;
}
.login{
  text-align:center;
  align-items: center;
  justify-content: center;

}
.login-text:hover{
  background:darkseagreen
}
.container{
  display: flex;

}
.sidebar{
  background: #121111;
  width: 348px;
  height: 1117px;
  top: 71px;
  box-shadow: 12px 4px 20px 0px #00000040;
  color: #FFFFFF;
  border-top: 1px solid white ;
  
}


.link-text{
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.0015em;
  border-bottom: 1px solid white;
}
.link-text:hover{
  background: dodgerblue;
  transition: 0.3s ease;
}

.link{
  color: aliceblue;
 padding: 10px 15px;
 height: 80px;

}
.icon{
  width: 50%;
}
.sidebar-div{
  display: flex;
  gap : 20px
}
.button01{

  padding: 20px 30px;
}
.button02{
  width: 250px;
  height: 50px;
}
.button02:hover{
  background: red;
}
.button02 h3{
  list-style: none;
}
.view-button{
  height: 50px;
  width: 250px;
  margin-top: 150px;
}
.view-button:hover{
  background-color: lightsalmon;
}
.delete-div{
  display: flex;
  gap: 20px;
}



