*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: Fixed (1,728px);
    height: Fixed (1,117px);
}

.Main{
    display: flex;
}
.title{
    height: 70px;
}
.Main-1{
    display: grid;
    grid-template-columns: 300px 300px  300px ;
    height: 100px;
    width: 100%;
    padding: 35px 35px;
    grid-gap: 10px;
}
.dashboard-text{
    grid-column-start: 1;
    grid-column-end: 4;
}
.submain{
    width: 289px;
    height:133px;
    top: 13007px;
    left: 16609px;
    padding: 2px 0px 12px 0px;
    border-radius: 8px;
    background: #E1E1E1;
    box-shadow: 10px 4px 5px 0px #00000040;
    /* margin-top: 180px;
    margin-left: 90px; */


}
.submain{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: left;
}
.box{
    display: grid;
    grid-template-rows: auto auto auto;
    width:354px ;
    justify-content:space-between;
    padding: 10px 25px;
}
.title{ 
    width: 354px;
    height:48px;
    padding: 2px 0px 0px 0px;
    gap: 24px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.title1{
    width: Fill (354px);
    height: Hug (27px);
    padding: 0px 10px 8px 10px;
    gap: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.0015em;
    text-align: left;   
}
.title2{
    width: Fill (354px);
    height: Hug (16px);
    padding: 0px 0px 0px 10px;
    gap: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.001em;
    text-align: left;
    color: #319403;

}
.percent{
    display:  flex;
    flex-direction: row;
    gap: 10px;
}
.title3{
  
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.001em;
    text-align: left;

}



